.site-header {
  position: fixed;
  width: 100%;
  border-top: 3px solid var(--color-secondary);
  z-index: var(--z-header);
}

.site-header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 3px 12px 0;
  padding: 8px 10px;


  @media (min-width: 1024px) {
    max-width: var(--site-width);
    margin: 3px auto 0;
  }
}

.site-header__logo-container {
  margin: 0;
  font-weight: 700;
}

.site-header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89px;
  height: 55px;
  padding: 0;
  border-radius: var(--border-radius-sm);
  color: var(--color-text);

  @media (min-width: 1024px) {
    width: 89px;
    height: 55px;
  }

  &:hover {
    border-bottom: none;
    background-color: var(--color-bg-secondary);
    color: var(--color-secondary);
  }
}

.site-header__nav {
  display: none;
  width: 100%;
  margin-top: 15px;

  @media (min-width: 1024px) {
    display: block;
    width: auto;
    margin-top: 0;
  }
}

.site-header__mobile-nav {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  color: var(--color-text);
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }

  svg {
    width: 20px;
    height: auto;
  }

  @media (min-width: 1024px) {
    display: none;
  }
}

.site-header__mobile-nav-label {
  margin-right: 12px;
}

.site-header__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-header__item {
  margin: 0 6px;
  font-family: var(--font-family-heading);

  @media (min-width: 1024px) {
    margin: 0 15px;
  }
}

.site-header__link {
  display: flex;
  align-items: center;
  color: var(--color-text);
  font-variation-settings: "wght" 735, "wdth" 100, "opsz" 0;
  font-size: 1rem;
  text-transform: uppercase;
  transition: font-size .3s, font-variation-settings .3s;
  line-height: 0;

  &:hover {
    border-bottom: none;
    color: var(--color-secondary);
    font-size: 2.65rem;
    font-variation-settings: "wght" 335, "wdth" 30, "opsz" 30;
    transition: font-size 0.3s, font-variation-settings 0.3s, letter-spacing .3s;
    letter-spacing: .05rem;
  }

  &[aria-current] {
    color: var(--color-secondary);
    font-size: 2.65rem;
    font-variation-settings: "wght" 335, "wdth" 30, "opsz" 30;
    transition: font-size 0.3s, font-variation-settings 0.3s, letter-spacing .3s;
    letter-spacing: .05rem;
  }
}
