---
layout: base.njk
section: blog
permalink: /blog/index.html
---
<div class="page-container">

  <h1>{{title}}</h1>
  <div class="intro-contenues">
  {{ layoutContent | safe }}
  </div>
	<hr/>

  {# Article List #}
  {% from "macros/articlelist.njk" import articlelist %}
  {{ articlelist(
    articles = pagination.items | reverse,
    show_tags = true
  ) }}

  {# Pagination #}
  {% include 'partials/pagination.njk' %}

  <p>Dans mes prochain contenues nous continuerons notre tour d'horizon du monde de la PAO, de la communication visuelle et du graphisme avec des cours sur Photoshop, InDesign et la chaine graphique. Nous travaillerons la question du Branding et des identités visuelles, La maîtrise de la typographie et bien plus encore !</p>

<div class="letter">

{% image
        "src/assets/img/letterprint.png",
        home.image_alt,
        "(min-width: 1024px) 50vw, 100vw",
        "eager"
      %}

</div>

<div class="abstract">

{% image
        "src/assets/img/abstract-form.png",
        home.image_alt,
        "(min-width: 1024px) 50vw, 100vw",
        "eager"
      %}

</div>



</div>
