---
layout: base.njk
section: post
---
<div class="page-container">
<aside>
{{ content | toc | safe | replace("˙","'") }}
{{ site.url }}{{ page.url | url }}
</aside>

  <article>
    <h1>{{ title }}</h1>
 
   {{ content | safe | replace("<table>", "<figure>") | replace("</table>", "</figure>")
                       | replace("<em>", "<figcaption>") | replace("</em>", "</figcaption>")
                       | replace("../","../../") | replace(" •",",<br>") | replace("˙","'") }}

    {% if tags %}
      <p class="tag-list">
      {% for tag in tags %}
        {%- if tag != "post" -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a class="tag" href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
      </p>
    {% endif %}

  </article>

  <nav>
    <a href="{{ '/cours/' | url }}">← View All Articles</a>
  </nav>
</div>

<script>
window.addEventListener('DOMContentLoaded', () => {

	const observer = new IntersectionObserver(entries => {
		entries.forEach(entry => {
			const id = entry.target.getAttribute('id');
			if (entry.intersectionRatio > 0) {
				document.querySelector(`nav li a[href="#${id}"]`).parentElement.classList.add('active');
			} else {
				document.querySelector(`nav li a[href="#${id}"]`).parentElement.classList.remove('active');
			}
		});
	});

	// Track all sections that have an `id` applied
	document.querySelectorAll('section[id]').forEach((section) => {
		observer.observe(section);
	});
	
});
</script>