---
layout: base.njk
section: post
---
<div class="page-container">
<aside>
{{ content | toc | safe | replace("˙","'") }}
</aside>
  <article>
    <h1>{{ title }}</h1>
    <div class="color-overlay" style="background-color:#{{ color }}"></div>
   {{ content | safe | replace("<table>", "<figure>") | replace("</table>", "</figure>")
                       | replace("<em>", "<figcaption>") | replace("</em>", "</figcaption>")
                       | replace("../","../../") | replace(" •",",<br>") | replace("˙","'") }}

    {% if tags %}
      <p class="tag-list">
      {% for tag in tags %}
        {%- if tag != "post" -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a class="tag" href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
      </p>
    {% endif %}

  </article>

  <nav>
    <a href="{{ '/cours/' | url }}">← View All Articles</a>
  </nav>
</div>

    <style>
        .active {
            text-decoration: underline;
        }
    </style>

