---
layout: base.njk
section: post
---
<div class="page-container">
<aside>
{{ content | toc | safe | replace("˙","'") }}
</aside>
  <article>
    <h1>{{ title }}</h1>
    <div class="color-overlay"></div>
   {{ content | safe | replace("<table>", "<figure>") | replace("</table>", "</figure>")
                       | replace("<em>", "<figcaption>") | replace("</em>", "</figcaption>")
                       | replace("../","../../") | replace(" •",",<br>") | replace("˙","'") }}

    {% if tags %}
      <p class="tag-list">
      {% for tag in tags %}
        {%- if tag != "post" -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a class="tag" href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
      </p>
    {% endif %}

  </article>
<aside>
   {% if sources %}
  <a href = "{{ sources | url }}" download = "" class="download">Télécharger le support</a><br>
   {% endif %}
  <a href = " http://www.linkedin.com/shareArticle?mini=true&url=animated-lily-68e918.netlify.app/cours/{{ title | lower | replace(" ","-") | replace("à","a") }}/&title={{ title }}&summary=balalal&source=nathanrabeau.com">Linkedintest</a>
  

</aside>
  <nav>
    <a href="{{ '/cours/' | url }}">← View All Articles</a>
  </nav>
</div>

    <style>
:root{
--color-overlay:#{{ color }}
}

    </style>

