---
layout: base.njk
section: project
---

<style>
  :root {--color-projet: #{{ color }};}
</style>

<div class="page-container {{ section }}">
  <h1>
    {% if emoji %}
      <span class="project-card__emoji">{{ emoji }}</span>
    {% endif %}
    {{title}}</h1>
  <hr/>
  {{ layoutContent | safe }}
  <nav>
    <a href="{{ '/projects/' | url }}">← View All Projects</a>
  </nav>
</div>