---
layout: base.njk
section: project
---

<style>
  :root {--color-projet: #{{ color }};}
</style>

<div class="page-container">
   <h1>{{title}}</h1>
<div class="intro">
 
  {% if tags %}
      <div class="tag-list">
        <h2>domaine</h2>
      {% for tag in tags %}
        {%- if tag != "project" -%}  
          {% set tagUrl %}/project-tags/{{ tag }}/{% endset %}
          <a class="tag" href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
    {% if techs %}
      <h2>outils</h2>
      <div class="tech">
      {{ techs | safe | replace(",", "") }}
      </div>
    {%- endif -%}
      </div>
{% endif %}



<div class="redac">
  <h2>brief</h2>
  <p>{{ brief }}</p>
  <h2>réponse</h2>
  <p>{{ reponse }}</p>
</div>

</div>

  {{ layoutContent | safe | replace("<table>", "<figure>") | replace("</table>", "</figure>")
                       | replace("<em>", "<figcaption>") | replace("</em>", "</figcaption>") }}
  <nav>
    <a href="{{ '/projects/' | url }}">← View All Projects</a>
  </nav>
</div>