/* Article card */
article p {
  font-size: 1.5094rem;
  text-align: justify;
  text-align: justify !important;
  text-justify: inter-character !important;
  -moz-font-feature-settings: "dlig", "calt", "onum";
  -webkit-font-feature-settings: "dlig", "calt", "onum";
  font-feature-settings: "dlig", "calt", "onum";
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 4;
  -webkit-hyphenate-limit-after: 4;
  -webkit-hyphenate-limit-chars: 9 4 4;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;
  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 9 4 4;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 8%;
  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 9 4 4;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 8%;
  hyphens: auto;
  hyphenate-limit-chars: 9 4 4;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

article figure {
  display: flex;
  align-items: flex-end;
  &:nth-child(odd){
   flex-direction: row-reverse;
  }
  img{margin-bottom: 0rem!important;}
 
} 

.article-card {
  margin-top: 20px;
  padding: 4px 6px;
  border-radius: var(--border-radius);

  &:hover {
    color: var(--color-text);
    background-color: var(--color-bg-hover);
  }

  &--tags {
    border-bottom: 2px solid var(--color-border);
    border-radius: 0;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: transparent;
    }
  }
}

.article-card__link {
  color: var(--color-text);

  &:hover {
    color: var(--color-text);
  }

  .article-card--tags & {
    &:hover {
      color: var(--color-secondary);
    }
  }
}

.article-card__title {
  margin: 5px 0;
}

.article-card__summary {
  margin-bottom: 0;
  color: var(--color-text-gray);
}

/* Tags */
.tag-list {
  display: flex;
  flex-wrap: wrap;
}

.tag-list--no-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 40px 0 30px;
  border-bottom: 2px solid var(--color-border);

  @media (min-width: 1024px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.tag-list__title {
  width: 100%;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 1.4em;

  @media (min-width: 1024px) {
    margin-bottom: 0;
  }
}

.tag {
  margin: 10px 10px 0 0;
  padding: 6px 8px;
  background-color: var(--color-bg-secondary);
  border-radius: var(--border-radius-sm);
  color: var(--color-secondary);
  white-space: nowrap;
  font-size: 13px;
  font-weight: 500;

  &:hover {
    border: none;
  }

  &:first-child {
    margin-left: 0;
  }
}

/* Pagination */
.pagination__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  list-style: none;
  gap: 25px;
}

.pagination__link {
  color: var(--color-text);

  &[aria-current] {
    color: var(--color-secondary);
  }
}
