<section class=competence>
    <div class="card-comp">
        <h3>Identité visuelle</h3>
        <img src="../assets/img/icocomp01.svg" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at rhoncus urna, vitae elementum justo. Nunc commodo euismod lorem. Curabitur a orci id ante malesuada scelerisque. Integer ultrices dictum elementum. Quisque nec ante at nisi cursus molestie. Phasellus enim leo, molestie porttitor libero non, commodo egestas nibh. Donec in tempor.</p>
    </div>
    <div class="card-comp">
        <h3>Web design</h3>
        <img src="../assets/img/icocomp01.svg" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at rhoncus urna, vitae elementum justo. Nunc commodo euismod lorem. Curabitur a orci id ante malesuada scelerisque. Integer ultrices dictum elementum. Quisque nec ante at nisi cursus molestie. Phasellus enim leo, molestie porttitor libero non, commodo egestas nibh. Donec in tempor.</p>
    </div>
    <div class="card-comp">
        <h3>Support de communication</h3>
        <img src="../assets/img/icocomp01.svg" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at rhoncus urna, vitae elementum justo. Nunc commodo euismod lorem. Curabitur a orci id ante malesuada scelerisque. Integer ultrices dictum elementum. Quisque nec ante at nisi cursus molestie. Phasellus enim leo, molestie porttitor libero non, commodo egestas nibh. Donec in tempor.</p>
 </div>
    <div class="card-comp">
        <h3>Web Marketing</h3>
        <img src="../assets/img/icocomp01.svg" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at rhoncus urna, vitae elementum justo. Nunc commodo euismod lorem. Curabitur a orci id ante malesuada scelerisque. Integer ultrices dictum elementum. Quisque nec ante at nisi cursus molestie. Phasellus enim leo, molestie porttitor libero non, commodo egestas nibh. Donec in tempor.</p>
    </div>
    <div class="card-comp">
        <h3>Motion Design</h3>
        <img src="../assets/img/icocomp01.svg" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at rhoncus urna, vitae elementum justo. Nunc commodo euismod lorem. Curabitur a orci id ante malesuada scelerisque. Integer ultrices dictum elementum. Quisque nec ante at nisi cursus molestie. Phasellus enim leo, molestie porttitor libero non, commodo egestas nibh. Donec in tempor.</p>
    </div>
</section>