<section class="trust">
    <img src="../assets/img/airt.svg" alt="">
     <img src="../assets/img/dc.svg" alt="">
      <img src="../assets/img/liss.svg" alt="">
       <img src="../assets/img/mk.svg" alt="">
        <img src="../assets/img/opt2.svg" alt="">
        <img src="../assets/img/sg.svg" alt="">
         <img src="../assets/img/tbl.svg" alt="">

</section>